.moon-search {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 280px;
}

.moon-search .moon-input-wrap {
  width: 100%;
  padding-right: 56px;
}

.moon-search-kbd {
  position: absolute;
  right: 8px;
  display: inline-flex;
  align-items: center;
  pointer-events: none;
}