.moon-divider {
  border: none;
  background: var(--moon-borderSubtle, #dededa);
  margin: 0;
}

.moon-divider[data-orient='horizontal'] {
  width: 100%;
  height: 1px;
}

.moon-divider[data-orient='vertical'] {
  width: 1px;
  height: 100%;
  align-self: stretch;
}

.moon-divider[data-spacing='sm'][data-orient='horizontal'] {
  margin: 4px 0;
}
.moon-divider[data-spacing='md'][data-orient='horizontal'] {
  margin: 8px 0;
}
.moon-divider[data-spacing='lg'][data-orient='horizontal'] {
  margin: 16px 0;
}

.moon-divider[data-spacing='sm'][data-orient='vertical'] {
  margin: 0 4px;
}
.moon-divider[data-spacing='md'][data-orient='vertical'] {
  margin: 0 8px;
}
.moon-divider[data-spacing='lg'][data-orient='vertical'] {
  margin: 0 16px;
}